/* Set full-page background using :root */
:root {
    background-color: rgb(135, 206, 235);
}

/* ARTICLE PARAGRAPHS */
article p:first-child {
    background-color: black;
    color: white;
}

article p:nth-child(2) {
    color: black;
}

article p:last-child {
    color: red;
}

/* LIST ITEMS */
ul li {
    width: 50%;
    padding: 10px;
    background-color: gray;
    list-style-type: disc;
}

/* Odd elements → white background */
ul li:nth-child(odd) {
    background-color: white;
}

/* First and last item → large font */
ul li:first-child,
ul li:last-child {
    font-size: 22px;
}

/* Third-to-last item → pink background */
ul li:nth-last-child(3) {
    background-color: pink !important;
}
